In [1]:
import pandas as pd
btc_data = pd.read_csv('market_data_sample.csv',  low_memory=False)
btc_data.head()

,Open time,Open,High,Low,Close,Volume,Close time,Quote asset volume,Number of trades,Taker buy base asset volume,Taker buy quote asset volume,Ignore
0,1673845200000,21147.98,21216.70,21119.05,21187.16,6954.41915,1673848799999,1.471986e+08,212925,3511.07101,7.431867e+07,0
1,1673848800000,21187.89,21260.00,21106.96,21149.80,10204.48252,1673852399999,2.159828e+08,275289,4987.49439,1.055738e+08,0
2,1673852400000,21149.80,21159.70,21066.23,21109.23,7602.55388,1673855999999,1.604160e+08,228737,3674.88850,7.754415e+07,0
3,1673856000000,21109.40,21113.22,20666.00,20747.70,24188.23332,1673859599999,5.032742e+08,473418,11633.38614,2.420225e+08,0
4,1673859600000,20746.75,20840.00,20720.00,20824.08,9658.96868,1673863199999,2.008177e+08,245721,4833.05455,1.004893e+08,0

In [2]:
btc_data.describe()

,Open time,Open,High,Low,Close,Volume,Close time,Quote asset volume,Number of trades,Taker buy base asset volume,Taker buy quote asset volume,Ignore
count,5.000000e+02,500.000000,500.000000,500.000000,500.000000,500.000000,5.000000e+02,5.000000e+02,5.000000e+02,500.000000,5.000000e+02,500.0
mean,1.674743e+12,22654.561040,22734.464340,22573.115580,22658.375140,11879.139509,1.674747e+12,2.691128e+08,2.911927e+05,5915.020532,1.340202e+08,0.0
std,5.201346e+08,913.694602,912.504705,912.887262,911.401881,6666.905526,5.201346e+08,1.510337e+08,1.225716e+05,3347.323612,7.589314e+07,0.0
min,1.673845e+12,20677.470000,20764.640000,20407.150000,20677.470000,3934.014420,1.673849e+12,9.046177e+07,1.103880e+05,1998.669130,4.596064e+07,0.0
25%,1.674294e+12,22583.732500,22648.412500,22499.500000,22592.652500,7593.623548,1.674298e+12,1.711612e+08,2.119960e+05,3743.899973,8.565463e+07,0.0
50%,1.674743e+12,22967.185000,23035.805000,22878.770000,22967.565000,9649.097300,1.674747e+12,2.197960e+08,2.548465e+05,4832.596995,1.098878e+08,0.0
75%,1.675192e+12,23203.742500,23300.117500,23117.810000,23204.665000,13932.145973,1.675196e+12,3.172198e+08,3.296588e+05,6980.252258,1.585278e+08,0.0
max,1.675642e+12,24188.090000,24255.000000,23946.590000,24189.850000,49733.134530,1.675645e+12,1.142651e+09,1.070272e+06,24896.632940,5.719699e+08,0.0